n# Node modules
node_modules/

# WhatsApp auth & cache files
.wwebjs_auth/
.wwebjs_cache/

# Logs and databases
*.log
*.sqlite
*.db
*.lock

# Environment variables or secrets
.env
creds.json
veerabot-*.json
